body {
  font-family: sans-serif;
}

svg.loop {
  stroke: black;
  stroke-width: 5px;
  fill: transparent;
}

svg.racetrack {
  stroke: black;
  stroke-width: 5px;
  fill: transparent;
}

.outer_racetrack {
  stroke: DarkSlateGray;
}

.inner_racetrack {
  stroke: CadetBlue;
}

.racer_moving {
  fill: OrangeRed;
  stroke: OrangeRed;
}

.racer_stuck {
  fill: DarkRed;
  stroke: DarkRed;
}

.racer_sample_ok {
  fill: OrangeRed;
  stroke: OrangeRed;
  opacity: 0.8;
}

.racer_sample_stuck {
  fill: DarkRed;
  stroke: DarkRed;
  opacity: 0.8;
}

.racer_history {
  stroke: OrangeRed;
  stroke-width: 2px;
}

.racer_label {
  stroke-width: 0px;
  fill: black;
}

.racer_heatMap {
  stroke-width: 1px;
  stroke: LightGray;
  opacity: 0.4;  
}
